# IDE & System Related Files #
.buildpath
.settings
.fleet
.idea
.vscode
*.sublime-project
*.sublime-workspace
.project
nbproject
*.iml

# Test Related Files #
phpunit.phar
/.phpunit.cache
/phpunit.xml
.phpunit.result.cache

# Node modules #
node_modules/
npm-debug.log
yarn-error.log

# phpDocumentor Logs #
phpdoc-*

# OSX #
._*
.DS_Store
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db
Desktop.ini

# Composer #
composer.phar
/composer.lock
vendor/
